<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>checkuser</servlet-name>
        <servlet-class>checkuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checklogin</servlet-name>
        <servlet-class>checklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>answer</servlet-name>
        <servlet-class>answer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>adminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSubject</servlet-name>
        <servlet-class>addSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeSubject</servlet-name>
        <servlet-class>removeSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addQuestion</servlet-name>
        <servlet-class>addQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeQuestion</servlet-name>
        <servlet-class>removeQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkuser</servlet-name>
        <url-pattern>/checkuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checklogin</servlet-name>
        <url-pattern>/checklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>answer</servlet-name>
        <url-pattern>/answer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSubject</servlet-name>
        <url-pattern>/addSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeSubject</servlet-name>
        <url-pattern>/removeSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addQuestion</servlet-name>
        <url-pattern>/addQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeQuestion</servlet-name>
        <url-pattern>/removeQuestion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
